# Welcome to the collab notebook for Data Science in the Wild! 
First we'll start by reviewing some python basics, before getting into the main python data analysis package called pandas.

### Concept 1: Printing

In [2]:
# Printing text
print("Hello World!")

# Printing your name and affiliation
print("My name is Bhargavi and I'm a PhD student at the University of Edinburgh")

Hello World!
My name is Bhargavi and I'm a PhD student at the University of Edinburgh

### Concept 2: Storing information in variables

There are 3 main different variable types:


*   string
*   integer
*   float

To review:


*   Strings go in quotations
*   Integers are whole numbers
*   Floats have decimal points

In [3]:
my_string = "What's today's highest temperature?"
my_integer = 18
my_float = 6.57

print(my_string)
print(my_integer)
print(my_float)

What's today's highest temperature?
18
6.57

Variable type mismatches are very common issues in the "wild"

In [4]:
print("the sum is: ", my_integer + my_float)

the sum is:  24.57

In [5]:
print(my_string + my_integer)

TypeError: ignored

How do we fix this?

In [6]:
print(my_string + str(my_integer))

What's today's highest temperature?18

In [7]:
#Fix spacing and add text
print(my_string + " " + str(my_integer) + " degrees celsius")

What's today's highest temperature? 18 degrees celsius

### Operations

The following numeric operations are possible in python:


*   Addition and subtraction: (+) and (-), as you'd expect
*   Multiplication and division: (*) and (/)
*   Floor division: (//) division that results in an integer always (no remainder)
*   Modulus (%): Returns the remainder when the first number is divided by the second
*   Power (**): Returns first raised to the power of the second

### Concept 3: Data Structures; Lists and Dictionaries

In [8]:
london_sights = ["buckingham palace", "tower of london", "british museum", "london eye"]
print(london_sights)

['buckingham palace', 'tower of london', 'british museum', 'london eye']

In [9]:
#slice into a list
london_sights[1]

'tower of london'

In [10]:
london_sights[2:]

['british museum', 'london eye']

In [11]:
london_sights[0:2]

['buckingham palace', 'tower of london']

In [12]:
london_sights.append("big ben")

In [13]:
print(london_sights)

['buckingham palace', 'tower of london', 'british museum', 'london eye', 'big ben']

What if we used dictionaries? What key would we want? What value would we want? Remember, keys are things we can look up to find the values.

In [14]:
london_sights_dict = {"westminster": "buckingham palace", "the city": "tower of london", "bloomsbury": "british museum", "south bank": "london eye"}

In [15]:
london_sights_dict["westminster"]

'buckingham palace'

In [16]:
london_sights_dict["bloomsbury"]

'british museum'

In [17]:
london_sights_dict['covent garden'] = 'royal opera house'
london_sights_dict

{'westminster': 'buckingham palace',
 'the city': 'tower of london',
 'bloomsbury': 'british museum',
 'south bank': 'london eye',
 'covent garden': 'royal opera house'}

In [18]:
london_sights_dict['southwark'] = ['the shard', 'borough market']
london_sights_dict

{'westminster': 'buckingham palace',
 'the city': 'tower of london',
 'bloomsbury': 'british museum',
 'south bank': 'london eye',
 'covent garden': 'royal opera house',
 'southwark': ['the shard', 'borough market']}

In [19]:
london_sights_dict['southwark']

['the shard', 'borough market']

In [20]:
london_sights_dict['southwark'][0]

'the shard'

### Tuples and Sets

In [21]:
# A set is an unordered list
set_re = set(london_sights)
set_re

{'big ben',
 'british museum',
 'buckingham palace',
 'london eye',
 'tower of london'}

In [22]:
#a tuple is a way of storing two things at the same time
tuple_list = [(1,5), (3,5), (7,8)]
tuple_list[0]

(1, 5)

In [23]:
tuple_list[0][0]

1

### Concept 4: Conditionals: If/Then statements

In [24]:
rainy = True

if rainy == True:
  print("We're having some real scottish weather. Time to stay inside")
else:
  print("Let's go outside!")

We're having some real scottish weather. Time to stay inside

In [25]:
rainy = False

if rainy == True:
  print("We're having some real scottish weather. Time to stay inside")
else:
  print("Let's go outside!")

Let's go outside!

What if we have a more complex condition?

1. `and` checks if both the left-hand and right-hand expressions are `True`. If they are, the whole expression evaluates to `True`; otherwise it evaluates to `False`.

2. `or` checks if either the left-hand or right-hand expressions are `True` (or both of them). If at least one of these expressions evaluates to `True`, then the whole expression evaluates to `True`; otherwise it evaluates to `False`.

3. `not` will reverse the value of whatever expression we are checking. So `not True` is the same as `False`, and `not False` is the same as `True`.

Worth noting: Truth tables are very relevant here. See "Learn Python the Hard Way" by Zed A. Shaw for more detail on this.

In [26]:
rainy = True
tired = False
if rainy and tired:
  print ("Stay in bed today!")
elif rainy and not tired:
  print("Time to study!")
elif not rainy and tired:
  print("Perhaps you'd like to sunbathe?")
else:
  print("Time to plan a trip!")

Time to study!

In [27]:
rainy = False
tired = False
if rainy and tired:
  print ("Stay in bed today!")
elif rainy and not tired:
  print("Time to study!")
elif not rainy and tired:
  print("Perhaps you'd like to sunbathe?")
else:
  print("Time to plan a trip!")

Time to plan a trip!

### Concept 5: Comparison Operators

1.   `==` checks to see if two values/expressions are equal
2.   `!=` checks to see if two values/expressions are not equal
3.   `>` checks to see if the left-hand value/expression is greater than the right-hand value/expression
4.   `<` checks to see if the left-hand value/expression is less than the right-hand value/expression
5. `>=` checks to see if the left-hand value/expression is greater than or equal to the right-hand value/expression
6. `<=` checks to see if the left-hand value/expression is less than or equal to the right-hand value/expression

If the comparison condition is satisfied, the whole expression will evaluate to `True`. If it's not, the whole expression evaluates to `False`.

In [28]:
cost_of_bills = 500

if cost_of_bills <100:
  subsidy = 0.2*cost_of_bills
elif cost_of_bills >= 100 and cost_of_bills <= 300:
  subsidy = 0.4*cost_of_bills
else:
  subsidy = 0.5*cost_of_bills
print("your final energy bill is", cost_of_bills-subsidy, "pounds")

your final energy bill is 250.0 pounds

### Concept 6: Loops

In [29]:
for i in range(0,4): #can also be written as for i in range(4)
  print(i)

0
1
2
3

What if we wanted to loop through the list we made earlier and print each of the items in the list?

In [30]:
for place in london_sights:
  print(place)

buckingham palace
tower of london
british museum
london eye
big ben

What if we wanted to print the position in the list as well? (The index?)

In [31]:
for i, place in enumerate(london_sights):
  print("the position is", i, "and the place is", place)

the position is 0 and the place is buckingham palace
the position is 1 and the place is tower of london
the position is 2 and the place is british museum
the position is 3 and the place is london eye
the position is 4 and the place is big ben

We could also do this for the dictionary

In [32]:
for key in london_sights_dict:
  print("the key is", key)
  print("the value is", london_sights_dict[key])

the key is westminster
the value is buckingham palace
the key is the city
the value is tower of london
the key is bloomsbury
the value is british museum
the key is south bank
the value is london eye
the key is covent garden
the value is royal opera house
the key is southwark
the value is ['the shard', 'borough market']

In [33]:
for key, value in london_sights_dict.items():
  print("the key is", key)
  print("the value is", value)

the key is westminster
the value is buckingham palace
the key is the city
the value is tower of london
the key is bloomsbury
the value is british museum
the key is south bank
the value is london eye
the key is covent garden
the value is royal opera house
the key is southwark
the value is ['the shard', 'borough market']

### Concept 7: Functions

Functions are a useful way of cleaning up repetitive code, and also helping break apart the different component pieces of a project to make it possible to think through the final solution in a systematic way.

In [34]:
# a simple average function
def avg_dsiw (number_1, number_2):
  ''' 
  This function takes two numbers and finds the average of them
  '''
  avg_calc = (number_1 + number_2)/2
  return avg_calc

In [35]:
avg_dsiw (60, 40)

50.0

It is also common to call a function within a function, triggering the function call stack. See below the example of calculating a tax.

In [36]:
def tax (p, rate):
  '''
  Compute the tax for a given price
  Inputs:
    -p (float): price
    -rate (float): tax rate
  Returns (float): the computed tax
  '''
  t = p*rate
  return t

def taxed_price (price, t):
  '''
  Compute the price with tax.
  Inputs:
    -price (float): price
    -rate (float): tax rate
  Returns (float): price with tax
  '''
  price = price + tax(price, t)
  return price 

def main ():
  '''
  Compute and print the price 100 with tax
  Inputs: None
  Returns: None
  '''
  p = 100
  tp = taxed_price(p, 0.10)

  print("The taxed price of {} is {}".format(p, tp))

### Time for...python EXERCISES!

### Exercise 1: shopping for wifi! 
You’re a PhD student on a budget and you're trying to find the best broadband supplier at the cheapest possible price in your area. The prices should be stored in a list, called `prices`. Write a program that traverses the list and then prints the lowest price from the list. 

**Note**: Do not use the built-in function `min` in your program!

In [36]:
#Solution to shopping for wifi exercise here

### Exercise 2: Temperature converter (for us Americans who need a conversion!)
Create a function that can convert a given temperature from Celsius to Fahrenheit, and prints out a clear message saying "Today the temperature is __ degrees Celsius, which is __ in Fahrenheit."

In [37]:
#Solution to temperature converter exercise here

### Exercise 3: Edinburgh restaurants
Let's say your friend is in town and wants restaurant recommendations. Make a dictionary of the restaurants so that your friend can search based on the cuisine they are interested in. Once you're done, loop through the dictionary and print all of the cuisines so we can take a look and salivate over them!

In [ ]:
#Solution to restaurant example here

### Exercise 4: Grading time!
Imagine you're now a grader and need to assign grades based on the scores that the students have after doing all their assignments. Let's say your instructor has asked you to use the following system:


*   A grade of 90-100 percent gets an A
*   A grade of 80-89 percent gets a B
*   A grade of 70-79 percent gets a C
*   A grade of 60-69 percent gets a D
*   A grade of 50 percent or below gets an F

Create a function that takes an input of the raw score and convert that to a letter grade.

In [ ]:
#Solution to grading example here